:roo{
    --color-primay: 
    --bg-primary:
}


body{
    background-image: url('./assets/dados.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

  .btn{
    background-color: #050531;
    color: white;
  }

  .btn:hover{
    background-color: #6AC3EC;
    color: #2A338A !important;
}